---
import HeaderLink from "./HeaderLink.astro";

const today = new Date();
---
<footer>
	<div class="text-center">
		&copy; {today.getFullYear()} With Code Example. All rights reserved. | <HeaderLink href="/about-us">About</HeaderLink>
	</div>
</footer>
<script defer data-domain=withcodeexample.com src=https://pa.with-code-examples.online/js/script.js></script>